<?xml version="1.0" encoding="utf-8"?>
<plugin id="cordova-plugin-miplugin" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>MiPlugin</name>
	<js-module name="MiPlugin" src="www/MiPlugin.js">
		<clobbers target="cordova.plugins.MiPlugin" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="MiPlugin">
				<param name="android-package" value="cordova-plugin-miplugin.MiPlugin" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml" />
		<source-file src="src/android/MiPlugin.java" target-dir="src/cordova-plugin-miplugin/MiPlugin" />
	</platform>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="MiPlugin">
				<param name="ios-package" value="MiPlugin" />
			</feature>
		</config-file>
		<source-file src="src/ios/MiPlugin.m" />
	</platform>
</plugin>
